<html>
  <head>
    <meta charset="utf-8">
    <title>GNUKhata</title>
    <style>
     @page {
	 size: 21cm 29.7cm;
	 margin: 10mm 3mm 15mm 10mm; /* change the margins as you want them to be. */
     }
     td {
	 font-size: 65%;
	 padding: 2px !important;
	 margin:  0 !important;
     }
     body {
	 background-image: none;
     }
     th {
	 font-size: 75%;
	 padding: 3px !important;
	 margin:  0 !important;
     }
     table { page-break-inside:auto }
     tr    { page-break-inside:avoid; page-break-after:auto }
     thead { display: table-header-group; }
     tfoot { display: table-footer-group; }
     .borderdiv {
	 border-left-style:solid;
	 border-width: 1px;
     }
     .nopadding {
	 padding: 0 !important;
	 margin: 0 !important;
     }
     div {
	 font-size:95%;
     }
     .hborderdiv {
	 border-top-style:solid;
	 padding-top: 10px;
	 border-width: 1px;
     }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="hidden-print row text-center text-primary">
	<b>{% trans %}To avoid a URL appearing on your print please set 'Title' option to 'blank' in your browser's print settings. Sample setting for{% endtrans %} <a  href="{{request.static_url('gkwebapp:static/images/print.jpg')}}" target="_blank" class="text-danger"><u>{% trans %}Mozilla Firefox{% endtrans %}</u></a>.</b>
      </div>
      <div class="row text-center">
	{% if gkresult["dctypeflag"] == 3 %}
	  <h5><u>Credit Note</u></h5>
	{% else %}
	  <h5><u>Debit Note</u></h5>
	{% endif %}
      </div>
      <div class="row">
	<div class="col-xs-3" id="logo_div">

          <div class="img-thumbnail img-circle ">
            <div style="position: relative; padding: 0; cursor: pointer;" type="file">
	      <img class="img-circle"  style="width: 100px; height: 100px;" id="imgbox">
            </div>
          </div>
	</div>
	<div class="col-xs-9 nopaddng">
	  
          <h3>{{org["orgname"]}}</h3>
          {% if org["orgaddr"]!='' %}
            {{org["orgaddr"]}}
          {% endif %}
          {% if org["orgcity"]!='' %}
            , {{org["orgcity"]}}
	  {% endif %}
	  {% if org["orgpincode"] %}
	    - {{org["orgpincode"]}},
          {% endif %}
          {% if org["orgstate"]!='null' %}
             {{org["orgstate"]}}.
          {% endif %}
	  <br>
          {% if org["orgtelno"]!='' %}
            Contact No.: {{org["orgtelno"]}}
          {% endif %}
          {% if org["orgemail"]!='' %}
            Email : {{org["orgemail"]}}
          {% endif %}
          {% if org["orgfax"] %}
            Fax : {{org["orgfax"]}}
          {% endif %}
          {% if org["orgwebsite"]!='' %}
            Website : {{org["orgwebsite"]}}
          {% endif %}
	  {#{% if gkresult["invdata"]["taxflag"] == 7 %}
	  <div class="form-group form-inline col-sm-12 nopadding">
	  <label for="orgstategstin">{% trans %}GSTIN{% endtrans %} : </label>
	  {{ org["gstin"]}}
	  </div>
	  {% endif %}#}
	</div>
      </div>
      <br>
      <div class="row">
	<table class="table table-bordered table-condensed">
	  <thead>
	    {% if gkresult["dctypeflag"] == 3 %}
	      <th style="white-space: nowrap">Details of Credit Note</th>
	    {% else %}
	      <th style="white-space: nowrap">Details of Debit Note</th>
	    {% endif %}
	    {% if gkresult["invdata"]["inoutflag"] == 15 %}
	      <th style="white-space: nowrap">Details of Sale Invoice</th>
	      <th style="white-space: nowrap">Details of Receiver | Billed To</th>
	    {% else %}
	      <th style="white-space: nowrap">Details of Purchase Invoice</th>
	      <th style="white-space: nowrap">Details of Supplier</th>
	    {%endif%}
	  </thead>
	  <tbody>
	    <tr>
	      <td>
		<div class="form-group form-inline col-xs-12 nopadding">
		  <label class="normal"for="invoiceno">{% trans %}Invoice No.{% endtrans %} : </label>
		  {{ gkresult["invdata"]["invoiceno"] }}
		</div>
		<div class="form-group form-inline col-xs-12 nopadding">
		  {% if gkresult["dctypeflag"] == 3 %}
		    <label class="normal"for="drcrno">{% trans %}Credit Note No.{% endtrans %} : </label>
		  {% else %}
		    <label class="normal"for="drcrno">{% trans %}Debit Note No.{% endtrans %} : </label>
		  {% endif %}
		  {{ gkresult["drcrno"] }}
		</div>
		<div class="form-group form-inline col-xs-12 nopadding">
		  {% if gkresult["dctypeflag"] == 3 %}
		    <label for="drcr_date" class="normal">{% trans %}Credit Note Date{% endtrans %} : </label>
		  {% else %}
		    <label for="drcr_date" class="normal">{% trans %}Debit Note Date{% endtrans %} : </label>
		  {%endif%}
		  {{ gkresult["drcrdate"] }}
		</div>
		{% if gkresult["reference"]%}
		  <div class="form-group form-inline col-xs-12 nopadding">
		    {% if gkresult["dctypeflag"] == 3 %}
		      <label for="creditnotenoref" class="normal">{% trans %}Debit Note No.{% endtrans %} : </label>
		    {% else %}
		      <label for="debitnotenoref" class="normal">{% trans %}Credit Note No.{% endtrans %} : </label>
		    {% endif %}
		    {{gkresult["reference"]["dcref"]}}
		  </div>
		  <div class="form-group form-inline col-sm-12 nopadding">
		    {% if gkresult["dctypeflag"] == 3 %}
		      <label for="creditnotedateref" class="normal">{% trans %}Debit Note Date{% endtrans %} : </label>
		    {% else %}
		      <label for="debitnotedateref" class="normal">{% trans %}Credit Note Date{% endtrans %} : </label>
		    {% endif %}
		    {{gkresult["reference"]["dcdate"]}}
		  </div>
		{% endif %}
		{% if gkresult["invdata"]["taxflag"] == 7 %}
		  <div class="form-group form-inline">
		    <label class="fsize gstinfield" for="orggstin">{% trans %}GSTIN{% endtrans %} : {{gkresult["invdata"]["orgstategstin"]}}</label>
		  </div>
		{% endif %}
	      </td>
	      <td>
		<div class="form-group form-inline col-xs-12 nopadding">
		  <label for="invoice_customer">
		    {% if gkresult["invdata"]["inoutflag"] == 15 %}
		      {% trans %}Dispatch From{% endtrans %} :
		    {% else %}
		      {% trans %}Received At{% endtrans %} :
		    {% endif %}
		  </label>
		  {% if gkresult["invdata"]["inoutflag"] == 9 %}{{ gkresult["invdata"]["taxstate"] }}{% endif %}
		  {% if gkresult["invdata"]["inoutflag"] == 15 %}{{ gkresult["invdata"]["sourcestate"] }}{% endif %}
		</div>
		<div class="form-inline form-group col-xs-12 nopadding">
		  <label for="stcode">{% trans %}State Code{% endtrans %} : </label>
		  {% if gkresult["invdata"]["inoutflag"] == 9 %}{{ '%02d' | format(gkresult["invdata"]["taxstatecode"] | int) }}{% endif %}
		  {% if gkresult["invdata"]["inoutflag"] == 15 %}{{ '%02d' | format(gkresult["invdata"]["sourcestatecode"] | int) }}{% endif %}
		</div>
		<div class="form-inline form-group col-xs-12 nopadding">
		  <div style="white-space: nowrap; display:table-cell;">
		    <label>
		      {% trans %}Issuer's Name{% endtrans %} :
		    </label>{{ gkresult["invdata"]["issuername"] }}
		  </div>
		  
		</div>
		<div class="form-inline form-group col-xs-12 nopadding">
		  <div style="white-space: nowrap; display:table-cell;">
		    <label>
		      {% trans %}Designation{% endtrans %} :</label>
		    {% if gkresult["invdata"]["designation"]== -1 %}{{"Admin"}}
		    {% elif gkresult["invdata"]["designation"]== 0 %}{{"Manager"}}
		    {% elif gkresult["invdata"]["designation"]== 1 %}{{"Operator"}}
		    {% elif gkresult["invdata"]["designation"]== 2 %}{{"Auditor"}}
		    {% elif gkresult["invdata"]["designation"]== 3 %}{{"Godown In Charge"}}
		    {%else%}
		      {{gkresult["invdata"]["designation"]}}
		    {% endif %}
		  </div>
		</div>
	      </td>
	      <td>
		<div class="form-inline form-group col-xs-12 nopadding">
		  <label for="invoice_customer">
		    {% if gkresult["invdata"]["inoutflag"] == 15 %}
		      {% trans %}Customer{% endtrans %} :
		    {% else %}
		      {% trans %}Supplier{% endtrans %} :
		    {% endif %}
		  </label>
		  {{ gkresult["custSupDetails"]["custname"] }}
		</div>
		<div class="form-inline form-group  col-xs-12 nopadding">
		  <div style="white-space: nowrap; display:table-cell;">
		    <label>
		      {% if gkresult["invdata"]["inoutflag"] == 15 %}
			{% trans %}Customer State{% endtrans %} :
		      {% else %}
			{% trans %}Supplier State{% endtrans %} :
		      {% endif %}
		    </label>
		  </div>
		  <div style="max-width:175px; padding-left:5px; display:table-cell;">
		    {% if gkresult["invdata"]["inoutflag"] == 15 %}
		      {{ gkresult["invdata"]["taxstate"] }}
		    {% endif %}
		    {% if gkresult["invdata"]["inoutflag"] == 9 %}
		      {{ gkresult["invdata"]["sourcestate"] }}
		    {% endif %}
		  </div>
		</div>
		<div class="form-inline form-group col-xs-12 nopadding">
		  <label for="stcode">{% trans %}State Code{% endtrans %} :</label>
		  {% if gkresult["invdata"]["inoutflag"] == 15 %}{{ '%02d' | format(gkresult["invdata"]["taxstatecode"] | int) }}{% endif %}
		  {% if gkresult["invdata"]["inoutflag"] == 9 %}{{ '%02d' | format(gkresult["invdata"]["sourcestatecode"] | int) }}{% endif %}
		</div>
		{% if gkresult["invdata"]["taxflag"] == 22 %}
		  <div class="form-group form-inline col-xs-12 nopadding">
		    <label for="tin" class=" col-form-label col-form-label-sm" id="transmode">{% trans %}TIN{% endtrans %} : </label>
		    {{ gkresult["custSupDetails"]["custtin"] }}
		  </div>
		  <input type="text"  id="taxapplicable" value="22" accesskey="" hidden>
		{% endif %}
		{% if gkresult["invdata"]["taxflag"] == 7 %}
		  <div class="form-group form-inline col-xs-12 nopadding">
		    <label for="gstin" class=" col-form-label col-form-label-sm" id="transmode">{% trans %}GSTIN{% endtrans %} : </label>
		    {{ gkresult["custSupDetails"]["custgstin"] }}
		  </div>
		  <input type="text"  id="taxapplicable" value="7" accesskey="" hidden>
		{% endif %}
		<div class="form-inline form-group col-sm-12 nopadding">
		  <label>
		    {% if gkresult["invdata"]["inoutflag"] == 15 %}
		      {% trans %}Customer Address{% endtrans %} :
		    {% else %}
		      {% trans %}Supplier Address{% endtrans %} :
		    {% endif %}
		  </label>
		  {{ gkresult["custSupDetails"]["custaddr"] }}
		</div>
	      </td>
	      <tr>
	  </tbody>
	</table>
      </div>
      {% if gkresult["invdata"]["taxflag"] == 22 %}
	<div class="row">
	  <label for="tax applicable" name="taxflag">{% trans %}Tax Applicable{% endtrans %} :</label>
	  VAT
	</div>
	<div class="row">
	  <br>
	  <table class=" table table-condensed table-bordered">
	    <thead class="bg-primary">
	      <tr>
		<th class="mdvwrap text-center">{% trans %}Product{% endtrans %}</th>
		<th class="qtyvwrap text-center">{% trans %}Billed Quantity{% endtrans %}</th>
		<th class="qtyvwrap text-center">{% trans %}Price Per Unit{% endtrans %}</th>
		{% if gkresult["drcrmode"]|int == 4 %}
		  {% if gkresult["dctypeflag"] == 3 %}
		    <th class="smvwrap text-center">{% trans %}Credited Value{% endtrans %}</th>
		  {% else %}
		    <th class="smvwrap text-center">{% trans %}Debited Value{% endtrans %}</th>
		  {% endif %}
		{% endif %}
		<th class="smvwrap text-center">{% trans %}Taxable Value{% endtrans %}</th>
		<th class="ratewrap text-center">{% trans %}Tax Rate{% endtrans %} %</th>
		<th class="smvwrap text-center">{% trans %}Tax Amount{% endtrans %}</th>
		<th class="smvwrap text-center">{% trans %}Total{% endtrans %}</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for product in gkresult["drcrcontents"] %}
		<tr>
		  <td>
		    <small>{{ gkresult["drcrcontents"][product]["proddesc"] }}</small>
		  </td>
		  <td class="text-right">
		    <small>{{ gkresult["drcrcontents"][product]["qty"] }} {{ gkresult["drcrcontents"][product]["uom"] }}</small>
		  </td>
		  <td class="text-right">
		    <small>{{ gkresult["drcrcontents"][product]["priceperunit"] }}</small>
		  </td>
		  {% if gkresult["drcrmode"]|int == 4 %}
		    <td class="smvwrap text-right">
		      {{ gkresult["drcrcontents"][product]["reductionval"]}}
		    </td>
		  {% endif %}
		  <td class="text-right">
		    <small>{#wrong#}
		      {{ gkresult["drcrcontents"][product]["newtaxableamnt"] }}</small>
		  </td>
	      </td>
	      <td class="text-right">
		<small>{{ gkresult["drcrcontents"][product]["taxrate"] }}</small>
	      </td>
	      <td class="text-right">
		<small>{{ gkresult["drcrcontents"][product]["taxamount"] }}</small>
	      </td>
	      <td class="text-right">
		{{ gkresult["drcrcontents"][product]["totalAmount"] }}
	      </td>
		</tr>
	      {% endfor %}
	    </tbody>
	    <tfoot>
	      <tr>
		{% if gkresult["drcrmode"]|int == 18 %}
		  <td colspan="3" class="text-right">
		    <script type="text/javascript">
		     $(document).ready(function() {
		       $(".smvwrap").css("width", "15.75%");
		     });
		    </script>
		{% else %}
		    <td colspan="4" class="text-right">
		{% endif %}
		    {% trans %}Total{% endtrans %}
		    </td>
		<td class="text-right">
		  {{ gkresult["totaltaxablevalue"] }}
		</td>
		<td>

		</td>
		<td class="text-right">
		  {{ gkresult["totaltaxamt"] }}
		</td>
		<td class="text-right">
		  {{ gkresult["totreduct"] }}
		</td>
	      </tr>
	    </tfoot>

	  </table>
	</div>
      {% else %}
	<div class="row">
	  <label for="tax applicable" name="taxflag">{% trans %}Tax Applicable{% endtrans %} :</label>
	  GST
	</div>
	<br>
	<div class="row">
	  <table class="table table-condensed table-bordered">
	    <thead class="bg-primary">
	      <tr>
		<th rowspan="2" class="text-center"><small>{% trans %}Product{% endtrans %}</small></th>
		<th rowspan="2" class="text-center"><small>{% trans %}HSN/ACS {% endtrans %}</small></th>
		<th rowspan="2" class="text-center"><small>{% trans %}Billed Qty{% endtrans %}</small></th>
		<th rowspan="2" class="text-center"><small>{% trans %}Price Per Unit{% endtrans %}</small></th>
		{% if gkresult["drcrmode"]|int == 4 %}
		  {% if gkresult["dctypeflag"] == 3 %}
		    <th rowspan="2" class="smwrap text-center">{% trans %}Credited Value{% endtrans %}</th>
		  {% else %}
		    <th rowspan="2" class="smwrap text-center">{% trans %}Debited Value{% endtrans %}</th>
		  {% endif %}
		{% endif %}
		<th rowspan="2" class="text-center"><small>{% trans %}Taxable Value {% endtrans %}</small></th>
		{% if gkresult["taxname"]=='SGST' %}<th colspan="2" class="text-center"><small>{% trans %}CGST{% endtrans %}</small></th>{% endif %}
		{% if gkresult["taxname"]=='SGST' %}<th colspan="2" class="text-center"><small>{% trans %}SGST/UTGST{% endtrans %}</small></th>{% endif %}
		{% if gkresult["taxname"]=='IGST' %}<th colspan="2" class="text-center"><small>{% trans %}IGST{% endtrans %}</small></th>{% endif %}
		<th colspan="2" class="text-center"><small>{% trans %}CESS{% endtrans %}</small></th>
		<th rowspan="2" class="text-center"><small>Total</small></th>
	      </tr>

	      <tr>
		{% if gkresult["taxname"]=='SGST' %}<th class="text-center" style="white-space: nowrap"><small>{% trans %}Rate{% endtrans %} %</small></th>{% endif %}
		{% if gkresult["taxname"]=='SGST' %}<th class="text-center"><small>{% trans %}Amount{% endtrans %}</small></th>{% endif %}
		{% if gkresult["taxname"]=='SGST' %}<th class="text-center" style="white-space: nowrap"><small>{% trans %}Rate{% endtrans %} %</small></th>{% endif %}
		{% if gkresult["taxname"]=='SGST' %}<th class="text-center"><small>{% trans %}Amount{% endtrans %}</small></th>{% endif %}
		{% if gkresult["taxname"]=='IGST' %}<th class="text-center" style="white-space: nowrap"><small>{% trans %}Rate{% endtrans %} %</small></th>{% endif %}
		{% if gkresult["taxname"]=='IGST' %}<th class="text-center"><small>{% trans %}Amount{% endtrans %}</small></th>{% endif %}
		<th class="text-center"><small>{% trans %}Rate{% endtrans %} %</small></th>
		<th class="text-center"><small>{% trans %}Amount{% endtrans %}</small></th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for product in gkresult["drcrcontents"] %}
		<tr>
		  <td>
		    <small>{{ gkresult["drcrcontents"][product]["proddesc"] }}</small>
		  </td>
		  <td class="text-center">
		    <small>{{ gkresult["drcrcontents"][product]["gscode"] }}</small>
		  </td>
		  <td class="text-right">
		    <small>{{ gkresult["drcrcontents"][product]["qty"] }} {{ gkresult["drcrcontents"][product]["uom"] }}</small>
		  </td>
		  <td class="text-right">
		    <small>{{ gkresult["drcrcontents"][product]["priceperunit"] }}</small>
		  </td>
		  {% if gkresult["drcrmode"]|int == 4 %}
		    <td class="smwrap text-right">
		      {{ gkresult["drcrcontents"][product]["reductionval"]}}
		    </td>
		  {% endif %}
		  <td class="text-right">
		    <small>{{ gkresult["drcrcontents"][product]["newtaxableamnt"] }}</small>
		  </td>

		  {% if gkresult["drcrcontents"][product]["taxname"]=='SGST' %}
		    <td class="text-right"><small>{{ gkresult["drcrcontents"][product]["taxrate"] }}</small></td>
		    <td class="text-right"><small>{{ gkresult["drcrcontents"][product]["taxamount"] }}</small></td>
		    <td class="text-right"><small>{{ gkresult["drcrcontents"][product]["taxrate"] }}</small></td>
		    <td class="text-right"><small>{{ gkresult["drcrcontents"][product]["taxamount"] }}</small></td>
		  {% endif %}

		  {% if gkresult["drcrcontents"][product]["taxname"]=='IGST' %}<td class="text-right"><small>{{ gkresult["drcrcontents"][product]["taxrate"] }}</small></td>{% endif %}
		  {% if gkresult["drcrcontents"][product]["taxname"]=='IGST' %}<td class="text-right"><small>{{ gkresult["drcrcontents"][product]["taxamount"] }}</small></td>{% endif %}
		  <td class="text-right"><small>{{ gkresult["drcrcontents"][product]["cessrate"] }}</small></td>
                  <td class="text-right"><small>{{ gkresult["drcrcontents"][product]["cess"] }}</small></td>
                  <td class="text-right">{{ gkresult["drcrcontents"][product]["totalAmount"] }}</td>
		</tr>
	      {% endfor %}
	    </tbody>
	    <tfoot>
	      <tr>
		{% if gkresult["drcrmode"]|int == 4 %}
		  <td colspan="5" class="text-right totalwrap" style="vertical-align:middle; font-size:75%">{%trans%}Total{%endtrans%}</td>
		{% else %}
		  <td colspan="4" class="text-right totalwrap" style="vertical-align:middle; font-size:75%">{%trans%}Total{%endtrans%}</td>
		  <script type="text/javascript">
		   $(document).ready(function() {
		     $(".totalwrap").css("width", "42%");
		   });
		  </script>
		{% endif %}
		<td class="text-right">{{ gkresult["totaltaxablevalue"] }}</td>
		{% if gkresult["taxname"]=='SGST' %}<td colspan="2" class="text-right">{{ gkresult["totaltaxamt"] }}</td>{% endif %}
		{% if gkresult["taxname"]=='SGST' %}<td colspan="2" class="text-right">{{ gkresult["totaltaxamt"] }}</td>{% endif %}
		{% if gkresult["taxname"]=='IGST' %}<td colspan="2" class="text-right">{{ gkresult["totaltaxamt"] }}</td>{% endif %}
		<td colspan="2" class="text-right">{{ gkresult["totalcessamt"] }}</td>
		<td class="text-right">
		  {{ gkresult["totreduct"] }}
		</td>
	      </tr>
	    </tfoot>
	  </table>
	</div>
      {% endif %}


      {#-----------------------------------------------------------------------------------#}


      <div class="col-sm-12" style="margin-top:0.2cm;">
	<div class="col-sm-4">
	</div>
	<div class="col-sm-4">
	</div>
	<div class="col-sm-4" style="margin-top:0.7cm;">
	  <div class="row hborderdiv">
	    <div class="col-sm-6">
	      <label for="taxableamount" style="font-size:100% !important;">{% trans %}Taxable Amount{% endtrans %} :</label>
	    </div>
	    <div class="col-sm-6 text-right">
	      <label id="taxableamount" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totaltaxablevalue"] }}</label>
	    </div>
	  </div>
	  
	  {% if gkresult["invdata"]["taxflag"] == 7 %}
	    {% if gkresult["taxname"]=='SGST' %}
	      <div class="row hborderdiv">
		<div class="col-sm-6">
		  <label for="totalsgtax" style="font-size:100% !important;">{% trans %}Total SGST{% endtrans %} :</label>
		</div>
		<div class="col-sm-6 text-right"
		  <label id="totalsgtax" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totaltaxamt"] }}</label>
		</div>
	      </div>
	      <div class="row hborderdiv">
		<div class="col-sm-6">
		  <label for="totalcgtax" style="font-size:100% !important;">{% trans %}Total CGST{% endtrans %} :</label>
		</div>
		<div class="col-sm-6 text-right">
		  <label id="totalcgtax" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totaltaxamt"] }}</label>
		</div>
	      </div>
	    {% endif %}
	    {% if gkresult["taxname"]=='IGST' %}
	      <div class="row hborderdiv">
		<div class="col-sm-6">
		  <label for="totaligtax" style="font-size:100% !important;">{% trans %}Total IGST{% endtrans %} :</label>
		</div>
		<div class="col-sm-6 text-right">
		  <label id="totaligtax" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totaltaxamt"] }}</label>
		</div>
	      </div>
	    {% endif %}
	    <div class="row hborderdiv">
	      <div class="col-sm-6">
		<label for="totalinvcess" style="font-size:100% !important;">{% trans %}Total CESS{% endtrans %} :</label>
	      </div>
	      <div class="col-sm-6 text-right">
		<label id="totalinvcess" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totalcessamt"] }}</label>
	      </div>
	    </div>
	  {% else %}
	    <div class="row hborderdiv vatfield">
	      <div class="col-sm-6">
		<label for="totalinvtax" style="font-size:100% !important;">{% trans %}Total Tax{% endtrans %} :</label>
	      </div>
	      <div class="col-sm-6 text-right"
		<label id="totalinvtax" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totaltaxamt"] }}</label>
	      </div>
	    </div>
	  {% endif %}
	  <div class="row hborderdiv" style="border-bottom-style:solid;">
	    <div class="col-sm-6">
	      <label for="totalinvoicevalue" style="font-size:100% !important;">{% trans %}Total Payable Value{% endtrans %} :</label>
	    </div>
	    <div class="col-sm-6 text-right">
	      <label id="totalinvoicevalue" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totreduct"] }}</label>
	    </div>
	  </div>
	</div>
      </div>

      
      {#------------------------------------------------------------------------------------#}
      
      <div class="row">
	<div class="col-xs-6">
	  <strong><i>Thank you for your business!</i></strong>
	</div>
	<div class="text-right col-xs-6">
	  <strong>{{ gkresult["invdata"]["issuername"] }}</strong>
	  <br>
	  {% if gkresult["invdata"]["designation"]== -1 %}{{"Admin"}}
	  {% elif gkresult["invdata"]["designation"]== 0 %}{{"Manager"}}
	  {% elif gkresult["invdata"]["designation"]== 1 %}{{"Operator"}}
	  {% elif gkresult["invdata"]["designation"]== 2 %}{{"Auditor"}}
	  {% elif gkresult["invdata"]["designation"]== 3 %}{{"Godown In Charge"}}
	  {%else%}
	    {{gkresult["invdata"]["designation"]}}
	  {% endif %}
	</div>
      </div>
      <div class="row">
	<span style="margin:auto; display:table;">
	  <button type="button" class="btn btn-sm btn-danger hidden-print" id="drcrback" accesskey="k">{% trans %}Bac<u>k</u>{% endtrans %}</button>
	  <button type="button" class="btn btn-sm btn-info hidden-print" id="drcrprint" accesskey="t">{% trans %}Prin<u>t</u>{% endtrans %}</button>
	</span>
      </div>
    </div>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/printdrcrnote.js')}}"></script>
  </body>
</html>
